@import '../variables/colors';
@import '../variables/fonts';
.agent__infor-container {
    font-family: $roboto-font;
    width: 80%;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $light-grey;
    .agent__infor-img {
        display: flex;
        position: relative;
        img {
            margin-top: -50px;
            margin-right: 2rem;
            margin-bottom: 1rem;
        }
        .agent__infor-intro {
            .agent__infor-name {
                font-size: 1.1rem;
                color: $light-black;
            }
            .agent__infor-job {
                font-size: 0.9rem;
                color: $light-black;
            }
        }
    }
    .agent__infor-description {
        color: $light-black;
        font-size: 1rem;
    }
}