@import '../../styles/variables/colors';
@import '../../styles/variables/fonts';
.quality {
    margin: 6rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;
    .quality__img {
        box-shadow: 10px 12px 34px rgb(0 0 0 / 59%);
        width: auto;
        height: 30%;
        margin: 0 3rem;
    }
    .quality__content {
        display: flex;
        flex-direction: column;
        .quality__title {
            margin-top: 0;
            font-family: $roboto-font;
            line-height: 2rem;
            font-size: 1.8rem;
            font-weight: bold;
            color: $background-color;
        }
    }
    .quality__icons {
        display: flex;
        flex-direction: row;
    }
}

.col-6 {
    width: 60%;
    margin: 4rem;
}