@import './variables/colors';
@import './variables/fonts';
.container {
    width: 30%;
    box-shadow: 1px 1px 30px $light-grey;
    overflow: hidden;
    margin: 1rem;
    border-radius: 20px;
    .img__container {
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: 0;
        img {
            cursor: pointer;
            width: 100%;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .content__container {
        padding: 1rem 2rem;
        text-align: left;
        font-family: $roboto-font;
        color: $light-black;
        h2 {
            font-size: 1rem;
            font-weight: bold;
        }
        .button {
            margin-bottom: 1rem;
            text-decoration: none;
            font-weight: bold;
            color: $blue-color;
            transition: all 0.3s ease;
            &:hover {
                color: $background-color;
            }
        }
    }
}