@import './variables/colors';
@import './variables/fonts';
.image {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
    img {
        height: 100%;
        transition: all 0.3s ease;
    }
    .title {
        font-family: $roboto-font;
        color: $white-color;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        margin: 0;
    }
    .tag {
        font-family: $roboto-font;
        color: $white-color;
        position: absolute;
        top: 1rem;
        right: 0;
        padding: 0.3rem;
        background-color: $blue-color;
    }
}

.col-7 {
    width: 58.33333%;
    margin: 0.5rem;
}

.col-3 {
    width: 41.6666%;
    margin: 0.5rem;
}