$blue-color:#25a5de;
$black-color:#252525;
$white-color:#fff;
$background-color:#05344a;
$transparent-black:rgba(0, 0, 0, 0.774);
$light-black:rgb(41, 41, 41);
$light-grey:rgb(148, 144, 144);
$background-green:#ebf8fd;
$transparent-grey:rgb(221, 220, 220);
$light-blue:rgb(140, 252, 237);